
footer {
    background-color: #333;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #333;
    color: white;
    padding: 5vh;
}
footer ul{
    padding: 3vh 0 0 0;
    display: flex;
    justify-content: center;
}
footer li{
    list-style: none;
    padding: 0 5% 0 5%;
}
footer a {
    color: white;
    text-decoration: none;
}
